<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DataMapping" type="FinancialThing.Configuration.DataMappingConfiguration" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <DataMapping>
    <pages>
      <add name="BalanceSheet" displayName="Balance Sheet" code="BalanceSh" order="2" count="3">
        <sections>
          <add name="assets" displayName="Assets" code="Assets" order="1">
            <data>
              <add name="CashAndShortTerm" displayName="Cash And Short Term Investments" code="CASTI" order="1" />
              <add name="TotalReceivables" displayName="Total Receivables, Net" code="TRN" order="2" />
              <add name="TotalInventory" displayName="Total Inventory" code="TI" order="3" />
              <add name="PaidExpenses" displayName="Prepaid expenses" code="PE" order="4" />
              <add name="OtherCurrentAssetsTotal" displayName="Other current assets, total" code="OCAT" order="5" />
              <add name="TotalCurrentAssets" displayName="Total current assets" code="TCA" order="6" />
              <add name="TotalCurrentAssets" displayName="Property, plant &amp; equipment, net" code="PPEN" order="7" />
              <add name="GoodWillNet" displayName="Goodwill, net" code="GN" order="8" />
              <add name="IntangiblesNet" displayName="Intangibles, net" code="IN" order="9" />
              <add name="LongTermInvs" displayName="Long term investments" code="LTI" order="10" />
              <add name="NoteReceivable" displayName="Note receivable - long term" code="NRLT" order="11" />
              <add name="OtherLongTerm" displayName="Other long term assets" code="OLTA" order="12" />
              <add name="TotalAssets" displayName="Total assets" code="TA" order="13" />
            </data>
          </add>
          <add name="liabilities" displayName="Liabilities" code="Liabilities" order="2">
            <data>
              <add name="AccountsPayable" displayName="Accounts payable" code="AP" order="1" />
              <add name="AccruedExpenses" displayName="Accrued expenses" code="AE" order="2" />
              <add name="NotesPaybale" displayName="Notes payable/short-term debt" code="NP" order="3" />
              <add name="CurrentPortion" displayName="Current portion long-term debt/capital leases" code="CPLTBCL" order="4" />
              <add name="OtherCurrentLiabilites" displayName="Other current liabilities, total" code="OCLT" order="5" />
              <add name="TotalCurrentLiablities" displayName="Total current liabilities" code="TCL" order="6" />
              <add name="TotalLongDebt" displayName="Total long term debt" code="TLTD" order="7" />
              <add name="TotalDebt" displayName="Total debt" code="TD" order="8" />
              <add name="DeferredIncomeTax" displayName="Deferred income tax" code="DIT" order="9" />
              <add name="MinorityInterest" displayName="Minority interest" code="MI" order="10" />
              <add name="OtherLiabilitiesTotal" displayName="Other liabilities, total" code="OLT" order="11" />
              <add name="TotalLiabilities" displayName="Total liabilities" code="TL" order="12" />
            </data>
          </add>
          <add name="ShareholdersEquity" displayName="Shareholders Equity" code="ShareholdersEquity" order="3">
            <data>
              <add name="CommonStock" displayName="Common stock" code="CS" order="1" />
              <add name="AdditionalPaidIn" displayName="Additional paid-in capital" code="APIC" order="2" />
              <add name="RetainedEarnings" displayName="Retained earnings (accumulated deficit)" code="READ" order="3" />
              <add name="TreasuryStock" displayName="Treasury stock - common" code="TSC" order="4" />
              <add name="UnrealizedGain" displayName="Unrealized gain (loss)" code="UGL" order="5" />
              <add name="OtherEquity" displayName="Other equity, total" code="OET" order="6" />
              <add name="TotalEquity" displayName="Total equity" code="TE" order="7" />
              <add name="ShareholdersEquity" displayName="Total liabilities &amp; shareholders' equity" code="TLSE" order="8" />
              <add name="TotalCommonShares" displayName="Total common shares outstanding" code="TCSO" order="9" />
              <add name="TreasuryShares" displayName="Treasury shares - common primary issue" code="TSCPI" order="10" />
            </data>
          </add>
        </sections>
      </add>
      <add name="CashFlow" displayName="Cash Flow" code="CashFlow" order="3" count="5">
        <sections>
          <add name="operations" displayName="Operations" code="operations" order="1">
            <data>
              <add name="NetIncome" displayName="Net income" code="NI" order="1" />
              <add name="Depreciation" displayName="Depreciation/depletion" code="DD" order="2" />
              <add name="NonCashItems" displayName="Non-Cash items" code="NCI" order="3" />
              <add name="CashTaxesPaid" displayName="Cash taxes paid, supplemental" code="CTPS" order="4" />
              <add name="CashInterestPaid" displayName="Cash interest paid, supplemental" code="CIPS" order="5" />
              <add name="ChangesInCapital" displayName="Changes in working capital" code="CIWC" order="6" />
              <add name="TotalCashOperations" displayName="Total cash from operations" code="TCFO" order="7" />
            </data>
          </add>
          <add name="investing" displayName="Investing" code="investing" order="2">
            <data>
              <add name="CapitalExpenditures" displayName="Capital expenditures" code="CE" order="1" />
              <add name="OtherInvesting" displayName="Other investing and cash flow items, total" code="OIACFIT" order="2" />
              <add name="TotalCashInvesting" displayName="Total cash from investing" code="TCFI" order="3" />
            </data>
          </add>
          <add name="financing" displayName="Financing" code="financing" order="3">
            <data>
              <add name="FinancingCash" displayName="Financing cash flow items" code="FCFI" order="1" />
              <add name="TotalDividendsPaid" displayName="Total cash dividends paid" code="TCDP" order="2" />
              <add name="IssuanceStockNet" displayName="Issuance (retirement) of stock, net" code="IROSN" order="3" />
              <add name="IssuanceDebtNet" displayName="Issuance (retirement) of debt, net" code="IRODN" order="4" />
              <add name="CashFinancing" displayName="Total cash from financing" code="TCFF" order="5" />
            </data>
          </add>
          <add name="NetChangeInCash" displayName="Net change in cash" code="NetChangeInCash" order="4">
            <data>
              <add name="ForeignExEff" displayName="Foreign exchange effects" code="FEE" order="1" />
              <add name="NetChange" displayName="Net change in cash" code="NCIC" order="2" />
              <add name="NetCashBegin" displayName="Net cash-begin balance/reserved for future use" code="NCBBRFFU" order="3" />
              <add name="NetCashEnd" displayName="Net cash-end balance/reserved for future use" code="NCEBRFFU" order="4" />
            </data>
          </add>
          <add name="SupplementalIncome" displayName="Supplemental Income" code="SupplementalIncome" order="5">
            <data>
              <add name="DepreciationSupplemental" displayName="Depreciation, supplemental" code="DS" order="1" />
              <add name="CashIntPaid" displayName="Cash interest paid, supplemental" code="CIPS2" order="2" />
              <add name="CashTaxesPaid" displayName="Cash taxes paid, supplemental" code="CTPS2" order="3" />
            </data>
          </add>
        </sections>
      </add>
      <add name="IncomeStatement" displayName="Income Statement" code="IncomeStatement" order="1" count="8">
        <sections>
          <add name="RevenueAndGross" displayName="Revenue And Gross Profit" code="RevenueAndGross" order="1">
            <data>
              <add name="TotalRevenue" displayName="Total revenue" code="TR" order="1" />
            </data>
          </add>
          <add name="OperatingExpenses" displayName="Operating Expenses" code="OperatingExpenses" order="2">
            <data>
              <add name="CostOfRevenue" displayName="Cost of revenue total" code="CORT" order="2" />
              <add name="SellingGeneral" displayName="Selling, general and admin. expenses, total" code="SGAAET" order="3" />
              <add name="DepAmortization" displayName="Depreciation/amortization" code="DAM" order="3" />
              <add name="UnusualExpenses" displayName="Unusual expense(income)" code="UEI" order="4" />
              <add name="OtherOperExpenses" displayName="Other operating expenses, total" code="OOET" order="5" />
              <add name="TotalOperExpenses" displayName="Total operating expense" code="TOE" order="6" />
              <add name="OperatingIncome" displayName="Operating income" code="OI" order="7" />
              <add name="OtherNet" displayName="Other, net" code="ON" order="8" />
            </data>
          </add>
          <add name="IncomeTaxes" displayName="Income Taxes, Minority Interest And Extra Items" code="IncomeTaxes" order="3">
            <data>
              <add name="NetBeforeTax" displayName="Net income before taxes" code="NIBT" order="1" />
              <add name="Provision" displayName="Provision for income taxes" code="PFIT" order="2" />
              <add name="NetAfterTax" displayName="Net income after taxes" code="NIAT" order="3" />
              <add name="MinorityInterest" displayName="Minority interest" code="MI2" order="4" />
              <add name="NetBeforeExtra" displayName="Net income before extra. Items" code="NIBEI" order="5" />
              <add name="TotalExtraordinary" displayName="Total extraordinary items" code="TEI" order="6" />
              <add name="NetIncome" displayName="Net income" code="NI2" order="7" />
              <add name="CommonExclExtra" displayName="Inc.avail. to common excl. extra. Items" code="IATCEEI" order="8" />
              <add name="CommonInclExtra" displayName="Inc.avail. to common incl. extra. Items" code="IATCIEI" order="9" />
            </data>
          </add>
          <add name="EPS" displayName="EPS RECONCILIATION" code="EPS" order="4">
            <data>
              <add name="BasicWeightedAvg" displayName="Basic/primary weighted average shares" code="BPWAS" order="1" />
              <add name="EpsExcl" displayName="Basic/primary eps excl. extra items" code="BPEEEI" order="2" />
              <add name="EpsIncl" displayName="Basic/primary eps incl. extra items" code="BPEIEI" order="3" />
              <add name="DilutionAdj" displayName="Dilution adjustment" code="DA" order="4" />
              <add name="DilutedAvgShares" displayName="Diluted weighted average shares" code="DWAS" order="5" />
              <add name="DilutedExcl" displayName="Diluted eps excl. extra items" code="DEEEI" order="6" />
              <add name="DilutedIncl" displayName="Diluted eps incl. extra items" code="DEIEI" order="7" />
            </data>
          </add>
          <add name="CommonStockDiv" displayName="COMMON STOCK DIVIDENDS" code="CommonStockDiv" order="5">
            <data>
              <add name="Dps" displayName="DPS - common stock primary issue" code="DCSPI" order="1" />
              <add name="GrossDividend" displayName="Gross dividend - common stock" code="GDCS" order="2" />
            </data>
          </add>
          <add name="ProForma" displayName="Pro Forma Income" code="ProForma" order="6">
            <data>
              <add name="NetIncome" displayName="Pro forma net income" code="PFNI" order="1" />
              <add name="InterestExp" displayName="Interest expense, supplemental" code="IES" order="2" />
            </data>
          </add>
          <add name="SupplementalIncome" displayName="Supplemental Income" code="SupplInc" order="7">
            <data>
              <add name="DepSupplemental" displayName="Depreciation, supplemental" code="DS2" order="1" />
              <add name="TotalSpecItems" displayName="Total special items" code="TSI" order="2" />
            </data>
          </add>
          <add name="NormalizedIncome" displayName="Normalized Income" code="NormalizedIncome" order="8">
            <data>
              <add name="NormIncomeBefore" displayName="Normalized income before taxes" code="NINIBT" order="1" />
              <add name="Effects" displayName="Effect of special items on income taxes" code="EOSIOIT" order="2" />
              <add name="IncTax" displayName="Income tax excluding impact of special items" code="ITEIOSI" order="3" />
              <add name="NormIncomeAfter" displayName="Normalized income after tax" code="NINIAT" order="4" />
              <add name="NormIncomeCommon" displayName="Normalized income avail. to common" code="NIATC" order="5" />
              <add name="BasicNormEps" displayName="Basic normalized EPS" code="BNEPS" order="6" />
              <add name="DilutedNormEps" displayName="Diluted normalized EPS" code="DNEPS" order="7" />
            </data>
          </add>
        </sections>
      </add>
    </pages>
  </DataMapping>
</configuration>