<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="DataMapping" type="FinancialThing.Services.Utilities.DataMappingConfiguration" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.3.0" />
        </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
      <property name="connection.connection_string">Server=127.0.0.1;Database=financialthing;User ID=Dan;Password=M@tte198</property>
      <property name="dialect">NHibernate.Dialect.MySQL5Dialect</property>
    </session-factory>
  </hibernate-configuration>
  <DataMapping>
    <pages>
      <add name="BalanceSheet" displayName="Balance Sheet" code="BalanceSh">
        <sections>
          <add name="assets" displayName="Assets" code="Assets">
            <data>
              <add name="CashAndShortTerm" displayName="Cash And Short Term Investments" code="CASTI" />
              <add name="TotalReceivables" displayName="Total Receivables, Net" code="TRN" />
              <add name="TotalInventory" displayName="Total Inventory" code="TI" />
              <add name="PaidExpenses" displayName="Prepaid expenses" code="PE" />
              <add name="OtherCurrentAssetsTotal" displayName="Other current assets, total" code="OCAT" />
              <add name="TotalCurrentAssets" displayName="Total current assets" code="TCA" />
              <add name="TotalCurrentAssets" displayName="Property, plant" code="PPEN" />
              <add name="GoodWillNet" displayName="Goodwill, net" code="GN" />
              <add name="IntangiblesNet" displayName="Intangibles, net" code="IN" />
              <add name="LongTermInvs" displayName="Long term investments" code="LTI" />
              <add name="NoteReceivable" displayName="Note receivable - long term" code="NRLT" />
              <add name="OtherLongTerm" displayName="Other long term assets" code="OLTA" />
              <add name="TotalAssets" displayName="Total assets" code="TA" />
            </data>
          </add>
          <add name="liabilities" displayName="Liabilities" code="Liabilities">
            <data>
              <add name="AccountsPayable" displayName="Accounts payable" code="AP" />
              <add name="AccruedExpenses" displayName="Accrued expenses" code="AE" />
              <add name="NotesPaybale" displayName="Notes payable/short-term debt" code="NP" />
              <add name="CurrentPortion" displayName="Current portion long-term debt/capital leases" code="CPLTBCL" />
              <add name="OtherCurrentLiabilites" displayName="Other current liabilities, total" code="OCLT" />
              <add name="TotalCurrentLiablities" displayName="Total current liabilities" code="TCL" />
              <add name="TotalLongDebt" displayName="Total long term debt" code="TLTD" />
              <add name="TotalDebt" displayName="Total debt" code="TD" />
              <add name="DeferredIncomeTax" displayName="Deferred income tax" code="DIT" />
              <add name="MinorityInterest" displayName="Minority interest" code="MI" />
              <add name="OtherLiabilitiesTotal" displayName="Other liabilities, total" code="OLT" />
              <add name="TotalLiabilities" displayName="Total liabilities" code="TL" />
            </data>
          </add>
          <add name="ShareholdersEquity" displayName="Shareholders Equity" code="ShareholdersEquity">
            <data>
              <add name="CommonStock" displayName="Common stock" code="CS" />
              <add name="AdditionalPaidIn" displayName="Additional paid-in capital" code="APIC" />
              <add name="RetainedEarnings" displayName="Retained earnings (accumulated deficit)" code="READ" />
              <add name="TreasuryStock" displayName="Treasury stock - common" code="TSC" />
              <add name="UnrealizedGain" displayName="Unrealized gain (loss)" code="UGL" />
              <add name="OtherEquity" displayName="Other equity, total" code="OET" />
              <add name="TotalEquity" displayName="Total equity" code="TE" />
              <add name="ShareholdersEquity" displayName="shareholders' equity" code="TLSE" />
              <add name="TotalCommonShares" displayName="Total common shares outstanding" code="TCSO" />
              <add name="TreasuryShares" displayName="Treasury shares - common primary issue" code="TSCPI" />
            </data>
          </add>
        </sections>
      </add>
      <add name="CashFlow" displayName="Cash Flow" code="CashFlow">
        <sections>
          <add name="operations" displayName="Operations" code="operations">
            <data>
              <add name="NetIncome" displayName="Net income" code="NI" />
              <add name="Depreciation" displayName="Depreciation/depletion" code="DD" />
              <add name="NonCashItems" displayName="Non-Cash items" code="NCI" />
              <add name="CashTaxesPaid" displayName="Cash taxes paid, supplemental" code="CTPS" />
              <add name="CashInterestPaid" displayName="Cash interest paid, supplemental" code="CIPS" />
              <add name="ChangesInCapital" displayName="Changes in working capital" code="CIWC" />
              <add name="TotalCashOperations" displayName="Total cash from operations" code="TCFO" />
            </data>
          </add>
          <add name="investing" displayName="Investing" code="investing">
            <data>
              <add name="CapitalExpenditures" displayName="Capital expenditures" code="CE" />
              <add name="OtherInvesting" displayName="Other investing and cash flow items, total" code="OIACFIT" />
              <add name="TotalCashInvesting" displayName="Total cash from investing" code="TCFI" />
            </data>
          </add>
          <add name="financing" displayName="Financing" code="financing">
            <data>
              <add name="FinancingCash" displayName="Financing cash flow items" code="FCFI" />
              <add name="TotalDividendsPaid" displayName="Total cash dividends paid" code="TCDP" />
              <add name="IssuanceStockNet" displayName="Issuance (retirement) of stock, net" code="IROSN" />
              <add name="IssuanceDebtNet" displayName="Issuance (retirement) of debt, net" code="IRODN" />
              <add name="CashFinancing" displayName="Total cash from financing" code="TCFF" />
            </data>
          </add>
          <add name="NetChangeInCash" displayName="Net change in cash" code="NetChangeInCash">
            <data>
              <add name="ForeignExEff" displayName="Foreign exchange effects" code="FEE" />
              <add name="NetChange" displayName="Net change in cash" code="NCIC" />
              <add name="NetCashBegin" displayName="Net cash-begin balance/reserved for future use" code="NCBBRFFU" />
              <add name="NetCashEnd" displayName="Net cash-end balance/reserved for future use" code="NCEBRFFU" />
            </data>
          </add>
          <add name="SupplementalIncome" displayName="Supplemental Income" code="SupplementalIncome">
            <data>
              <add name="DepreciationSupplemental" displayName="Depreciation, supplemental" code="DS" />
              <add name="CashIntPaid" displayName="Cash interest paid, supplemental" code="CIPS2" />
              <add name="CashTaxesPaid" displayName="Cash taxes paid, supplemental" code="CTPS2" />
            </data>
          </add>
        </sections>
      </add>
      <add name="IncomeStatement" displayName="Income Statement" code="IncomeStatement">
        <sections>
          <add name="RevenueAndGross" displayName="Revenue And Gross" code="RevenueAndGross">
            <data>
              <add name="TotalRevenue" displayName="Total revenue" code="TR" />
            </data>
          </add>
          <add name="OperatingExpenses" displayName="Operating Expenses" code="OperatingExpenses">
            <data>
              <add name="CostOfRevenue" displayName="Cost of revenue total" code="CORT" />
              <add name="SellingGeneral" displayName="Selling, general and admin. expenses, total" code="SGAAET" />
              <add name="DepAmortization" displayName="Depreciation/amortization" code="DAM" />
              <add name="UnusualExpenses" displayName="Unusual expense(income)" code="UEI" />
              <add name="OtherOperExpenses" displayName="Other operating expenses, total" code="OOET" />
              <add name="TotalOperExpenses" displayName="Total operating expense" code="TOE" />
              <add name="OperatingIncome" displayName="Operating income" code="OI" />
              <add name="OtherNet" displayName="Other, net" code="ON" />
            </data>
          </add>
          <add name="IncomeTaxes" displayName="Income Taxes" code="IncomeTaxes">
            <data>
              <add name="NetBeforeTax" displayName="Net income before taxes" code="NIBT" />
              <add name="Provision" displayName="Provision for income taxes" code="PFIT" />
              <add name="NetAfterTax" displayName="Net income after taxes" code="NIAT" />
              <add name="MinorityInterest" displayName="Minority interest" code="MI2" />
              <add name="NetBeforeExtra" displayName="Net income before extra. Items" code="NIBEI" />
              <add name="TotalExtraordinary" displayName="Total extraordinary items" code="TEI" />
              <add name="NetIncome" displayName="Net income" code="NI2" />
              <add name="CommonExclExtra" displayName="Inc.avail. to common excl. extra. Items" code="IATCEEI" />
              <add name="CommonInclExtra" displayName="Inc.avail. to common incl. extra. Items" code="IATCIEI" />
            </data>
          </add>
          <add name="EPS" displayName="EPS RECONCILIATION" code="EPS">
            <data>
              <add name="BasicWeightedAvg" displayName="Basic/primary weighted average shares" code="BPWAS" />
              <add name="EpsExcl" displayName="Basic/primary eps excl. extra items" code="BPEEEI" />
              <add name="EpsIncl" displayName="Basic/primary eps incl. extra items" code="BPEIEI" />
              <add name="DilutionAdj" displayName="Dilution adjustment" code="DA" />
              <add name="DilutedAvgShares" displayName="Diluted weighted average shares" code="DWAS" />
              <add name="DilutedExcl" displayName="Diluted eps excl. extra items" code="DEEEI" />
              <add name="DilutedIncl" displayName="Diluted eps incl. extra items" code="DEIEI" />
            </data>
          </add>
          <add name="CommonStockDiv" displayName="COMMON STOCK DIVIDENDS" code="CommonStockDiv">
            <data>
              <add name="Dps" displayName="DPS - common stock primary issue" code="DCSPI" />
              <add name="GrossDividend" displayName="Gross dividend - common stock" code="GDCS" />
            </data>
          </add>
          <add name="ProForma" displayName="Pro Forma Income" code="ProForma">
            <data>
              <add name="NetIncome" displayName="Pro forma net income" code="PFNI" />
              <add name="InterestExp" displayName="Interest expense, supplemental" code="IES" />
            </data>
          </add>
          <add name="SupplementalIncome" displayName="Supplemental Income" code="SupplInc">
            <data>
              <add name="DepSupplemental" displayName="Depreciation, supplemental" code="DS2" />
              <add name="TotalSpecItems" displayName="Total special items" code="TSI" />
            </data>
          </add>
          <add name="NormalizedIncome" displayName="Normalized Income" code="NormalizedIncome">
            <data>
              <add name="NormIncomeBefore" displayName="Normalized income before taxes" code="NINIBT" />
              <add name="Effects" displayName="Effect of special items on income taxes" code="EOSIOIT" />
              <add name="IncTax" displayName="Income tax excluding impact of special items" code="ITEIOSI" />
              <add name="NormIncomeAfter" displayName="Normalized income after tax" code="NINIAT" />
              <add name="NormIncomeCommon" displayName="Normalized income avail. to common" code="NIATC" />
              <add name="BasicNormEps" displayName="Basic normalized EPS" code="BNEPS" />
              <add name="DilutedNormEps" displayName="Diluted normalized EPS" code="DNEPS" />
            </data>
          </add>
        </sections>
      </add>
    </pages>
  </DataMapping>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
